body {
  background-color: #f0f0f0;
  font-size: 13px;
}

.card,
.card-panel {
  padding: 15px, 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.container-fluid {
  padding: 1rem 2.5rem;
  margin: auto;
}

.row {
  margin: 0 --0.75rem;
}

.main {
  position: absolute;
  width: calc(100% - 250px);
  top: 125px;
  margin-left: 250px;
}

.subheader {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}

/* nav */
nav {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

nav ul li {
  text-align: center;
}

nav ul.right {
  padding-right: 12px;
}

nav ul.right li {
  max-width: 48px;
}

nav ul a {
  padding-right: 0 12px;
}

nav ul a img {
  height: 32px;
  width: 32px;
  vertical-align: middle;
  margin-left: -5px;
}

.nav-wrapper {
  padding-left: 12px;
}

.nav-wrapper ul a:hover {
  background-color: transparent;
}

.nav-wrapper .title {
  font-size: 1.4rem;
}

.nav-wrapper .btn-flat {
  background-color: #4285f4 !important;
  font-size: 13px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  width: 94px;
}
